<% provide(:title, "About us") %>

<section class="container-fluid">
	<div class="container full-height">

		<h1 class="heading"><i class="fa fa-users title green"></i>About us</h1>

		<div class="content">
			<div class="row">
<!-- 				<div class="col-md-4 picture">&nbsp;</div> -->
				<div class="col-md-12 content-text about">	
					<p>Coelevation believes that getting outside to try new things and push boundaries is what it's all about. Whether you are rock climbing for the first time, or are a lifelong angler looking for the best mountain water and the right fly to choose, our guides have the passion and skill to provide trips that will inspire you.</p>

					<p>Coelevation guides represent some of the finest operators in their chosen fields, with skills and training that allow for exceptional client experiences. We only work with professional, dependable guides to be sure all Coelevation trips can foster new passions and provide that crisp feeling that results from pursuing challenging activities in wild places. Whether its climbing or skiing, biking or skiing, fishing or hiking, we're committed to regenerative adventure travel.</p>
				</div>
			</div>
		</div>

		</div>
	</div>
</section>

