<% provide(:title, "Contact us") %>

<section class="container-fluid">
	<div class="container full-height">

		<h1 class="heading"><i class="fa fa-paw title blue"></i>Contact</h1>

		<div class="content">
			<div class="row">
				<div class="col-md-4">&nbsp;</div>

				<div class="col-md-4 content-text">	

					<h6 class="love">We'd <i class="fa fa-heart red"></i> to hear from you!</h6>
					<p class="contact-info">
						<i class="fa fa-envelope-o red"></i><br />
						<p class="is-center">General inquiries - <br>info@coelevation.com</p>
						<p class="is-center">Cancelations - <br>cancel@coelevation.com</p>
					</p>
					<p class="social-links">
						<%= link_facebook('<i class="fa fa-facebook"></i>') %>
						<%= link_twitter('<i class="fa fa-twitter"></i>') %>	
						<%= link_instagram('<i class="fa fa-instagram"></i>') %>
						<%= link_linkedin('<i class="fa fa-linkedin"></i>') %>
						<br /><br />Stay connected.
					</p>

				</div>

				<div class="col-md-4">&nbsp;</div>
			</div>
		</div>

	</div>
</section>

