<% provide(:title, "Guides Wanted") %>

<section class="container-fluid">
	<div class="container full-height">

		<h1 class="heading"><i class="fa fa-child title blue"></i>Apply as a Guide</h1>

		<div class="content">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 content-text guides">	
					<h4 class="subheading">Want to join forces?</h4>
					
					<p>We’re looking to partner with experienced guides who have a strong track record of providing safe, amazing experiences in the outdoors. We are focused on working with professional guides in outdoor, human-powered activities.</p>

					<p>Here are some things to consider:</p>
					<ul>
						<li><strong>Activities</strong> - Currently we are listing climbing, hiking, fly-fishing, mountain biking and skiing. As the seasons change, so will our need for diverse activities.</li>
						<li><strong>Experience</strong> - While we don’t have a specific sheet of checkboxes, we do hold our guides to high standards of training and experience. There’s a great diversity of certifying bodies, and while we do not promote one over another, we are committed to demonstration of excellence for every guide we work with.</li>
						<li><strong>Employment Status</strong> - All our guides are paid as independent contractors, as each trip is designed and lead by independent guides or agencies. This means that all guides, or the companies they are representing, must provide their own insurance, equipment and permits. According to Federal Regulations, we cannot provide insurance to or collect any taxes on behalf of independent contractors.</li>
					</ul>

					<br>
					<ul><strong>How to list on coelevation.com</strong>
						<li>First, get in touch with us at info@coelevation.com. Send us an introductory note, guiding CV and a little information on the type of trips you would like to post on coelevation.com</li>
						<li>Once you have a guide profile, we ask that you provide us relevant trip information (adventure type, cost, number of people, area, photos, etc) so we can build the trip’s offering page.</li>
						<li>We will also need to know what dates this trip is available for booking, as all client requests are booked directly on coelevation.com (so we need to know you are available!)</li>
						<li>As your trips are booked, we will be in touch immediately with client details. We pay guides soon after the trip’s completion.</li>
					</ul>
				</div>

			</div>
		</div>

	</div>
</section>

