<div class="container-fluid">

	<div class="container email">

New Order

   * include “Please let us know you got this” button
   * include Total number of participants
   * new additions of participants
   * Include money totals

		<%= render 'shared/ce_mail_signature' %>
		
   </div>

</div>