<div class="container-fluid">

	<div class="container email">

	<p><h2>One of your trips has been cancelled.</h2></p>

	<p><%= @order_item.date_range + " : " + @order_item.tag_line %></p>
	<p>You now appear as available on coelevation.com for those dates, and we will do our best to get you another client for these dates.</p>

		<%= render 'shared/ce_mail_signature' %>

	</div>
</div>