<section class="apply-splash">
	<div class="pure-g-r">
		<div class="pure-u-1">
			<h2 class="is-center">Guide with the greatest.</h2>

			<div class="row is-center">
				Sign on with coElevation to better connect with clients.
			</div>

			<div class="row is-center">
				<%= link_to 'Sign on as a guide', new_guide_path, :class => 'pure-button' %>
			</div>

			<div class="row is-center">
				&nbsp;
			</div>

			<div class="row is-center">
				<%= link_to 'Sign on as a company', new_company_path, :class => 'pure-button'%>
			</div>
		</div>
	</div>
</section>


<section id="explanation">
	<h2 class="is-center">How it works</h2>
	<div class="pure-g-r">
		<div class="row">
			<div class="pure-u-1-4">
				<div class="container-1-4">
					&nbsp;
				</div>
			</div>
			<div class="pure-u-1-4">
				<div class="container-1-4">
					Guides sign up for an account. No approval necessary.
				</div>
			</div>
			<div class="pure-u-1-4">
				<div class="container-1-4">
					Companies apply for an account.
				</div>
			</div>
			<div class="pure-u-1-4">
				<div class="container-1-4">
					&nbsp;
				</div>
			</div>
		</div>
		<div class="row">
			<div class="pure-u-1-4">
				<div class="container-1-4">
					&nbsp;
				</div>
			</div>
			<div class="pure-u-1-4">
				<div class="container-1-4">
					Guides and companies post trips.
				</div>
			</div>
			<div class="pure-u-1-4">
				<div class="container-1-4">
					Clients come. Profit!
				</div>
			</div>
			<div class="pure-u-1-4">
				<div class="container-1-4">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</section>