<% provide(:title, "Order Updated") %>

<section class="scaffold">
	<div class="pure-grid-r">
		<div class="pure-u-1-4">
			&nbsp;
		</div>
		<div class="pure-u-1-2">
			<h1 class="is-center">Order Updated</h1>
			<div class="row">
				<br>Your order has been updated. You should receive an email with your new trip details in a few minutes.</div>
			<div class="row" >
				To review this and all other orders in the future, you can see all of your trip details on your profile page <%= link_to 'here', profile_path %>.</div>
			<div class="row">
				Thank you for choosing coElevation, and happy adventuring!</div>
			<div class="row is-center">
				<br><%= link_to 'See trip details', profile_path, :class => "pure-button" %>.</div>
		</div>
		<div class="pure-u-1-4">
			&nbsp;
		</div>
	</div>
</section>