@import "control_panel";

section.cart { margin-bottom: 80px; }

.cart .summary-heading { margin-top: 20px;}

.cart .cart-summary-container .row { margin-bottom: 10px; }

.cart .cart-summary-container .button { text-align: center; }

.cart .subtotal { margin-top: 10px; }

.cart .grand-total { font-size: 1.2em; margin-top: 10px; }