.item-summary-container { padding: 0; }

.item.row { margin-bottom: 30px; }

.item-image { width: 70%; margin: 0 auto; margin-top: 20px;}

.item-title { font-size: 1.5em; margin-left: 0; margin-top: 0;}

.item-title strong { font-size: 2em; }

.item-details { margin: 10px 0px; }

.item-details input { text-align: center; width: 40px;}