.main-users { margin-top: 80px; }

.main-users i {  margin: 0px 10px; color: $black; }

.main-users .section { margin-bottom: 40px; }

.main-users .row { margin: 0px 0px; padding: 0px 0px;}

.main-users .grey-bg { background-color: $faintgrey; }

.main-users .cell { padding: 10px 30px; }

.main-users .cell.cell-right { padding-left: 0px; }

.main-users .cell img { width: 100%; }

.main-users .section p { margin-top: 10px; }

.main-users .section strong { text-transform: capitalize; font-size: 80%; margin-right: 10px;}

.main-users .display-item { margin-bottom: 20px; margin-left: 0px; margin-right: 0px; padding-top: 10px; padding-bottom: 10px; background-color: $faintgrey; }

.main-users .detail { margin-bottom: 10px; }

.main-users .detail:last-child { margin-bottom: 0px; }

.main-users .detail div { margin: 0; padding: 0;}

.main-users .subheading { margin: 10px 0px; margin-bottom: 15px;}

.main-users .posting-summary { padding-left: 10px; }

.main-users .posting-summary li { padding: 10px 0px; }

.main-users .guide-panel { margin-top: 40px; }

.main-users .warning { border: solid red 1px; padding: 5px 10px; background-color: pink}

/*    EDIT    */

.main-users .account-information { padding-top: 20px; padding-bottom: 20px; }

.main-users .account-information .row { margin: 10px 0px; }

.users-edit h4 { margin-bottom: 10px; margin-top: 40px; }

.negative-indent-20 { text-indent: -20px; }

.indent-20 { text-indent: 20px; }

.down-20 { margin-bottom: 20px; }
.btn.up-40 { margin-top: 40px; }




