<% provide(:title, 'Change password') %>

<div class="row">
	Hello <%= @resource.first %>!
</div>

<div class="row">
	Someone has requested a link to change your password. You can do this through the link below.
</div>

<div class="row">
	<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
</div>

<div class="row">
	If you didn't request this, please ignore this email.
</div>

<div class="row">
	Your password won't change until you access the link above and create a new one.
</div>
